
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b><p>I.</p></b>
    - Vui Lòng "Clear Data Add" mỗi ngày để đạt hiệu xuất cao nhất <br>
    - Không kiểm tra "Live/die" các tài khoản quá nhiều lần một giờ <br>
    - Đảm bảo có đầy đủ proxy <br>
    <b><p>II</p></b>
    - Nên nhập link nhóm trước khi "Tải Dữ Liệu Mem" để loại bỏ <br>
    data đã kéo rồi, tránh trùng lặp dữ liệu <br>
    <b><p>III</p></b>
    - Cách Load Proxy Nhanh: <br>
    + B1: Dẫn file proxy <br>
    + B2: Ấn nút xoay tròn có hai mũi tên <br>
    * Đảm bảo file proxy vẫn còn hạn sử dụng <br>
</body>
</html>
